[mysqld]
# user는 root
user=root
port=3306
# 데이터가 저장 될 위치. PV 위치.
datadir=/var/lib/mysql
log-bin=/var/lib/mysql/mysql-bin
# 외부와 연결하기 위한 통로. 0.0.0.0의 의미는 모든 ip를 허용하겠다는것.
# 그냥 하나의 컨테이너에서 mysql, phpmyadmin 등을 돌리는거면 127.17.0.1 뭐 이런식으로 하면됨
# 그냥 무조건 0.0.0.0 쓰는게 좋음
bind-address=0.0.0.0
# 만약 1 이면 로컬에서만 수신한다. 따라서 0으로 바꿔줌.
# 다른 컨테이너에서 접근해야하므로.
skip-networking=0